<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        li{
            list-style: none;
        }
        span{
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index1) in 9">
                <span v-for="(item,index2) in index1+1">{{index2+1}}*{{index1+1}}={{(index1+1)*(index2+1)}}</span>
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el:'#app',
        })
    </script>
</body>
</html>